@model COMPRO.Models.DataModels
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function ShowPrice() {
        //$("#btnChangeDate").click();
        //document.getElementById("Harga").focus();
        $(document).ready(function () {
            new updateprice();
        });
    }
    function updateprice() {
        var date = document.getElementById("RsvDate").value;
        var schedule = document.getElementById("RsvSchedule").value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ShowPrice", "Reservation")',
            cache: false,
            async: true,
            data: {
                RsvDate: date,
                RsvSchedule: schedule
            },
            success: function (response) {
                if (response.success == true)
                    $("#Harga").val(response.Price);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
</script>

<!-- SLIDER START -->
<aside id="colorlib-hero" class="hero2">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(Content/res/images/img_about.jpg);" class="hght250">
                <div class="overlay"></div>
                <div class="hght250 container-fluid">
                    <div class="hght250 row">
                        <div class="hght250 col-md-6 col-sm-12 col-md-offset-3 slider-text mgl80">
                            <div class="hght250 slider-text-inner slider-text-inner2 text-center txtlft">
                                <h1>Reservation</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- SLIDER END -->

<div id="colorlib-contact">
    <div class="container">
        <div id="calendar"></div>
    </div>
</div>

<div id="colorlib-contact">
    <div class="container">

        <div class="col-md-12 animate-box">

@using (Html.BeginForm("Reservasi", "Reservation", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    var pilih = "selected";
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="lname">Date</label>
                        <div class="form-field">
                            <input type="text" id="RsvDate" name="RsvDate" class="form-control date" placeholder="Check date" value="@ViewBag.RsvDate">
                            <button id="btnChangeDate" name="btnChangeDate" style="display:none" type="submit" class="btn btn-success fltright">Inquiry</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Team</label>
                        <input type="text" id="team" class="form-control" placeholder="Your Team">
                    </div>
                    
                    
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="lname">Slot (Time)</label>
                        <select class="form-control" id="RsvSchedule" name="RsvSchedule" required="" onchange="ShowPrice()">
                            <option value="xxx">---Select Slot (Time)---</option>
                            @foreach (var item in Model.ListMsJadwal)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.KodeSchedule)" @if (@Html.DisplayFor(modelItem => item.KodeSchedule).ToString() == @ViewBag.RsvSchedule) { @pilih  ; }>@Html.DisplayFor(modelItem => item.Keterangan)</option>

                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Your Name">
                    </div>
                    
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="lname">Harga (IDR/Rupiah)</label>
                        <input type="text" id="Harga" name="Harga" class="form-control" placeholder="IDR (Rupiah)" value="@Session["Harga"].ToString()" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Address</label>
                        <input type="text" id="name" class="form-control" placeholder="Your Name">
                    </div>
                    
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="fname">Email</label>
                        <input type="text" id="name" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Phone Number</label>
                        <input type="number" id="phonenumber" class="form-control" placeholder="Your Phone Number">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="message">Additional Request</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">I agree to the Terms and Conditions</label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Book Now" class="btn btn-primary">
                </div>
            }
        </div>

    </div>
</div>

@RenderPage("~/Views/Shared/_Footer.cshtml")

<script>

    $('#RsvDate').datepicker({
        format: 'dd/mm/yyyy'
    });

</script>
<script>

    $(document).ready(function () {

        var today = moment().day();
        var tipe = 'MSC';
        $('#calendar').fullCalendar({
            height: 350,
            minTime: '6:00',
            slotLabelFormat: 'HH:mm',
            selectTable: true,
            header: {
                left: 'prev,next today',

                center: 'title',
            },
            defaultView: 'agendaWeek',
            firstDay: today,
            navLinks: false,
            allDaySlot: false,
            eventLimit: true,
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '@Url.Action("GetBookingSchedule", "Reservation")',
                    type: 'GET',
                    data: {
                        startdate: start.format('YYYY-MM-DD'),
                        enddate: end.format('YYYY-MM-DD'),
                        tipe:tipe
                    },
                    success: function (Output) {
                        var events = [];
                        //if (response.success == true) {
                        $.each(JSON.parse(Output), function (i, v) {
                            events.push({
                                title: v.title,
                                start: v.Start,
                                end: v.End,
                                backgroundColor: v.backgroundColor
                            });
                        });
                        callback(events);
                        console.log(events);
                    }
                });
            }
        });
    });

</script>