@model COMPRO.Models.DataModels
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function ShowPrice() {
        //$("#btnChangeDate").click();
        //document.getElementById("Harga").focus();
        $(document).ready(function () {
            new updateprice();
        });
    }
    function updateprice() {
        var date = document.getElementById("RsvDate").value;
        var schedule = document.getElementById("RsvSchedule").value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ShowPrice", "Reservation")',
            cache: false,
            async: true,
            data: {
                RsvDate: date,
                RsvSchedule: schedule
            },
            success: function (response) {
                if (response.success == true)
                    $("#Harga").val(response.Price);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
    function validEmail(email) {
        var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
        return pattern.test(email);
    }
    function CheckTerms()
    {
        var check = document.getElementById("checkbox");
        var submit = document.getElementById("submit");
        if(check.checked)
        {
            submit.disabled = "";
        }
        else
        {
            submit.disabled = "disabled";
        }
    }
    function isChecked(checkbox, btnid) {
        var button = document.getElementById(btnid);

        if (checkbox.checked === true) {
            button.disabled = false;
        } else {
            button.disabled = true;
        }
    }
    function Save()
    {
        var patternNoPhone = /^08[0-9]{8,12}$/;

        var date = document.getElementById("RsvDate").value;
        var team = document.getElementById("team").value;
        var name = document.getElementById("name").value;
        var kodeschedule = document.getElementById("RsvSchedule").value;
        var addr = document.getElementById("Address").value;
        var email = document.getElementById("email").value;
        var phone = document.getElementById("phonenumber").value;
        var ket = document.getElementById("message").value;
        var harga = document.getElementById("Harga").value;
        if (!patternNoPhone.test(phone) && phone != "") {
            $(".modal-body #peringatan1").text("Invalid phone number");
            $("#Alert1").modal();
        }
        else if(!validEmail(email) && email =="")
        {
            $(".modal-body #peringatan1").text("Invalid email address");
            $("#Alert1").modal();
        }
        else if(date == "")
        {
            $(".modal-body #peringatan1").text("Please fill booking date");
            $("#Alert1").modal();
        }
        else if(team == "")
        {
            $(".modal-body #peringatan1").text("Please fill your team");
            $("#Alert1").modal();
        }
        else if (harga == "0")
        {
            $(".modal-body #peringatan1").text("Please select slot/hours");
            $("#Alert1").modal();
        }
        else
        {

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveBook", "Reservation")',
                cache: false,
                async: true,
                data: {
                    date: date,
                    team: team,
                    slot: kodeschedule,
                    nama: name,
                    alamat: addr,
                    email: email,
                    notlp: phone,
                    ket: ket
                },
                success: function (response) {
                    if (response.success == true)
                        alert(response.responseText)
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    }
</script>

<!-- SLIDER START -->
<aside id="colorlib-hero" class="hero2">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../Content/res/images/img_about.jpg);" class="hght250">
                <div class="overlay"></div>
                <div class="hght250 container-fluid">
                    <div class="hght250 row">
                        <div class="hght250 col-md-6 col-sm-12 col-md-offset-3 slider-text mgl80">
                            <div class="hght250 slider-text-inner slider-text-inner2 text-center txtlft">
                                <h1>Reservation</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- SLIDER END -->

<div id="colorlib-contact">
    <div class="container">
        <div id="calendar"></div>
    </div>
</div>

<div id="colorlib-contact">
    <div class="container">

        <div class="col-md-12 animate-box">

@using (Html.BeginForm("Reservasi", "Reservation", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    var pilih = "selected";
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="lname">Date</label>
                        <div class="form-field">
                            <input type="text" id="RsvDate" name="RsvDate" class="form-control date" placeholder="Check date" value="@ViewBag.RsvDate">
                            <button id="btnChangeDate" name="btnChangeDate" style="display:none" type="submit" class="btn btn-success fltright">Inquiry</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Team</label>
                        <input type="text" id="team" class="form-control" placeholder="Your Team">
                    </div>
                    
                    
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="lname">Slot (Time)</label>
                        <select class="form-control" id="RsvSchedule" name="RsvSchedule" required="" onchange="ShowPrice()">
                            <option value="xxx">---Select Slot (Time)---</option>
                            @foreach (var item in Model.ListMsJadwal)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.KodeSchedule)" @if (@Html.DisplayFor(modelItem => item.KodeSchedule).ToString() == @ViewBag.RsvSchedule) { @pilih  ; }>@Html.DisplayFor(modelItem => item.Keterangan)</option>

                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Your Name">
                    </div>
                    
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="lname">Harga (IDR/Rupiah)</label>
                        <input type="text" id="Harga" name="Harga" class="form-control" placeholder="IDR (Rupiah)" value="@Session["Harga"].ToString()" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Address</label>
                        <input type="text" id="Address" class="form-control" placeholder="Your Address">
                    </div>
                    
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="fname">Email</label>
                        <input type="text" id="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="col-md-6">
                        <label for="fname">Phone Number</label>
                        <input type="number" id="phonenumber" class="form-control" placeholder="Your Phone Number">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="message">Additional Request</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label><input id="checkbox" type="checkbox" value="" onchange="isChecked(this, 'submit')" />I agree to the Terms and Conditions</label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" id="submit" value="Book Now" disabled="disabled"  class="btn btn-primary" onclick="Save()" return false />
                </div>
            }
        </div>

    </div>
</div>
<!-- MODAL START -->
<div class="modal fade" id="MyModal" name="Alert1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thankyou for Booking</h4>
            </div>
            <div class="modal-body">
                <p class="ttlKdBook">Kode Booking Anda</p>
                <p class="kdBook">BKD-1903-00001</p>
                <p class="txtcntr">Waktu anda untuk melunasi pembayaran</p>
                <p id="timeCountDown" class="poptm"></p>
                <p class="txtcntr">Setelah melakukan transfer, harap mengisi nomor referensi transfer dibawah ini</p>
                <p>
                    <input type="text" id="noreference" class="form-control" placeholder="No. Referensi">
                </p>
                <div class="form-group text-center row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-green" style="width:100% !important;">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger" style="width:100% !important;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- MODAL END -->
<!-- MODAL WARNING START -->
<div class="modal fade" id="Alert1" name="Alert1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modaltrayek"><font style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:bold;">Error</font></h4>
            </div>
            <div class="modal-body">
                <table style="100%">
                    <tr>
                        <td width="15%" style="vertical-align:middle;"><i class="fa fa-close" aria-hidden="true" style="color:red;font-size:40px;"></i>
                        <td style="vertical-align:middle;">
                            <label id="peringatan1" name="peringatan1" style="color:black;margin-bottom:0 !important; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:100;"></label>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btnerror" name="btnerror" type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL WARNING END -->
@RenderPage("~/Views/Shared/_Footer.cshtml")

<script>

    $('#RsvDate').datepicker({
        format: 'dd/mm/yyyy'
    });

</script>
<script>

    $(document).ready(function () {

        var today = moment().day();
        var tipe = 'MSC';
        $('#calendar').fullCalendar({
            height: 350,
            minTime: '6:00',
            slotLabelFormat: 'HH:mm',
            selectTable: true,
            header: {
                left: 'prev,next today',

                center: 'title',
            },
            defaultView: 'agendaWeek',
            firstDay: today,
            navLinks: false,
            allDaySlot: false,
            eventLimit: true,
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '@Url.Action("GetBookingSchedule", "Reservation")',
                    type: 'GET',
                    data: {
                        startdate: start.format('YYYY-MM-DD'),
                        enddate: end.format('YYYY-MM-DD'),
                        tipe:tipe
                    },
                    success: function (Output) {
                        var events = [];
                        //if (response.success == true) {
                        $.each(JSON.parse(Output), function (i, v) {
                            events.push({
                                title: v.title,
                                start: v.Start,
                                end: v.End,
                                backgroundColor: v.backgroundColor
                            });
                        });
                        callback(events);
                        console.log(events);
                    }
                });
            }
        });
    });

</script>